<!-- Banner -->
<div class="container mt-4">
  <div class="text-center">
    <img src="/img/image.png" alt="Imagem Atenção" class="img-fluid" style="max-width: 100%; height: auto;" />
  </div>
</div>

<!-- Cards -->
<div class="container mt-5">
  <div class="row">

    <!-- Card Jericoacoara -->
    <div class="col-sm-4 mb-4">
      <div class="card h-100">
        <img src="/img/card1.png" class="card-img-top" alt="Jericoacoara">
        <div class="card-body">
          <h5 class="card-title">Jericoacoara</h5>
          <p class="card-text">Aproveite o paraíso de Jeri</p>
          <a href="/jericoacoara" class="btn btn-dark">Acessar</a>
        </div>
      </div>
    </div>

    <!-- Card 3 Praias -->
    <div class="col-sm-4 mb-4">
      <div class="card h-100">
        <img src="/img/card1.png" class="card-img-top" alt="3 Praias">
        <div class="card-body">
          <h5 class="card-title">3 Praias</h5>
          <p class="card-text">Morro Branco, Praia das Fontes e Canoa Quebrada.</p>
          <a href="/3praias" class="btn btn-dark">Acessar</a>
        </div>
      </div>
    </div>

    <!-- Card Canoa Quebrada -->
    <div class="col-sm-4 mb-4">
      <div class="card h-100">
        <img src="/img/card1.png" class="card-img-top" alt="Canoa Quebrada">
        <div class="card-body">
          <h5 class="card-title">Canoa Quebrada</h5>
          <p class="card-text">Viva a experiência dessa praia incrível</p>
          <a href="/canoaquebrada" class="btn btn-dark">Acessar</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <!-- Card Guaramiranga -->
    <div class="col-sm-4 mb-4">
      <div class="card h-100">
        <img src="/img/card1.png" class="card-img-top" alt="Guaramiranga">
        <div class="card-body">
          <h5 class="card-title">Guaramiranga</h5>
          <p class="card-text">Refúgio na serra, com clima mais frio e natureza.</p>
          <a href="/guaramiranga" class="btn btn-dark">Acessar</a>
        </div>
      </div>
    </div>

    <!-- Card Mundaú + Flecheiras -->
    <div class="col-sm-4 mb-4">
      <div class="card h-100">
        <img src="/img/card1.png" class="card-img-top" alt="Mundaú e Flecheiras">
        <div class="card-body">
          <h5 class="card-title">Mundaú + Flecheiras</h5>
          <p class="card-text">Dois paraísos no mesmo dia</p>
          <a href="/mundaueflecheiras" class="btn btn-dark">Acessar</a>
        </div>
      </div>
    </div>

    <!-- Card Lagoinha -->
    <div class="col-sm-4 mb-4">
      <div class="card h-100">
        <img src="/img/card1.png" class="card-img-top" alt="Lagoinha">
        <div class="card-body">
          <h5 class="card-title">Lagoinha</h5>
          <p class="card-text">Perfeito para relaxar.</p>
          <a href="/lagoinha" class="btn btn-dark">Acessar</a>
        </div>
      </div>
    </div>

  </div>
</div>
